<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cart(); as cartRef) {
      <div>
        <h2 data-cy="cartDetailsHeading"><span jhiTranslate="kotekkaappApp.cart.detail.title">Cart</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cartRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.uuid">Uuid</span></dt>
          <dd>
            <span>{{ cartRef.uuid }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.walletHolder">Wallet Holder</span></dt>
          <dd>
            <span>{{ cartRef.walletHolder }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.totalQuantity">Total Quantity</span></dt>
          <dd>
            <span>{{ cartRef.totalQuantity }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.totalPrice">Total Price</span></dt>
          <dd>
            <span>{{ cartRef.totalPrice }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.currency">Currency</span></dt>
          <dd>
            <span>{{ cartRef.currency }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ cartRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cart.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ cartRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cart', cartRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
