<div>
  <h2 id="page-heading" data-cy="OrganisationHeading">
    <span jhiTranslate="kotekkaappApp.organisation.home.title">Organisations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="kotekkaappApp.organisation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organisation"
        [routerLink]="['/organisation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kotekkaappApp.organisation.home.createLabel">Create a new Organisation</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (organisations?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="kotekkaappApp.organisation.home.notFound">No Organisations found</span>
    </div>
  }

  @if (organisations && organisations.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parent">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.parent">Parent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="headcount">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.headcount">Headcount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.organisation.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (organisation of organisations; track trackId(organisation)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/organisation', organisation.id, 'view']">{{ organisation.id }}</a>
              </td>
              <td>{{ organisation.name }}</td>
              <td [jhiTranslate]="'kotekkaappApp.OrgType.' + (organisation.type ?? 'null')">
                {{
                  {
                    null: '',
                    UNIVERSITY: 'UNIVERSITY',
                    CORPORATION: 'CORPORATION',
                    NONPROFIT: 'NONPROFIT',
                    GOVERNMENT: 'GOVERNMENT',
                    OTHER: 'OTHER',
                  }[organisation.type ?? 'null']
                }}
              </td>
              <td>{{ organisation.parent }}</td>
              <td>{{ organisation.location }}</td>
              <td>{{ organisation.headcount }}</td>
              <td>{{ organisation.createdBy }}</td>
              <td>{{ organisation.createdDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/organisation', organisation.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/organisation', organisation.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(organisation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (organisations && organisations.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
