<div>
  <h2 id="page-heading" data-cy="FeatureFlagHeading">
    <span jhiTranslate="kotekkaappApp.featureFlag.home.title">Feature Flags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="kotekkaappApp.featureFlag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feature-flag"
        [routerLink]="['/feature-flag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kotekkaappApp.featureFlag.home.createLabel">Create a new Feature Flag</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (featureFlags?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="kotekkaappApp.featureFlag.home.notFound">No Feature Flags found</span>
    </div>
  }

  @if (featureFlags && featureFlags.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enabled">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.enabled">Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.updatedBy">Updated By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedDate">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.featureFlag.updatedDate">Updated Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (featureFlag of featureFlags; track trackId(featureFlag)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/feature-flag', featureFlag.id, 'view']">{{ featureFlag.id }}</a>
              </td>
              <td>{{ featureFlag.name }}</td>
              <td>{{ featureFlag.enabled }}</td>
              <td>{{ featureFlag.description }}</td>
              <td>{{ featureFlag.createdBy }}</td>
              <td>{{ featureFlag.createdDate | formatMediumDatetime }}</td>
              <td>{{ featureFlag.updatedBy }}</td>
              <td>{{ featureFlag.updatedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/feature-flag', featureFlag.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/feature-flag', featureFlag.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(featureFlag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (featureFlags && featureFlags.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
