<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (oneTimePassword(); as oneTimePasswordRef) {
      <div>
        <h2 data-cy="oneTimePasswordDetailsHeading">
          <span jhiTranslate="kotekkaappApp.oneTimePassword.detail.title">One Time Password</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.uuid">Uuid</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.uuid }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.user">User</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.user }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.code">Code</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'kotekkaappApp.OtpStatus.' + (oneTimePasswordRef.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', VALID: 'VALID', REJECTED: 'REJECTED', EXPIRED: 'EXPIRED' }[
                oneTimePasswordRef.status ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.expiry">Expiry</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.expiry | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.oneTimePassword.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ oneTimePasswordRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/one-time-password', oneTimePasswordRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
