<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-wallet-heading" data-cy="WalletCreateUpdateHeading" jhiTranslate="kotekkaappApp.wallet.home.createOrEditLabel">
        Create or edit a Wallet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kotekkaappApp.wallet.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let uuidRef = editForm.get('uuid')!;
        <div class="mb-3">
          <label class="form-label" for="field_uuid" jhiTranslate="kotekkaappApp.wallet.uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          @if (uuidRef.invalid && (uuidRef.dirty || uuidRef.touched)) {
            <div>
              @if (editForm.get('uuid')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="kotekkaappApp.wallet.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'kotekkaappApp.WalletType.null' | translate }}</option>
            @for (walletType of walletTypeValues; track $index) {
              <option [value]="walletType">{{ 'kotekkaappApp.WalletType.' + walletType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="kotekkaappApp.wallet.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'kotekkaappApp.WalletStatus.null' | translate }}</option>
            @for (walletStatus of walletStatusValues; track $index) {
              <option [value]="walletStatus">{{ 'kotekkaappApp.WalletStatus.' + walletStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_level" jhiTranslate="kotekkaappApp.wallet.level">Level</label>
          <select class="form-control" name="level" formControlName="level" id="field_level" data-cy="level">
            <option [ngValue]="null">{{ 'kotekkaappApp.AccountLevel.null' | translate }}</option>
            @for (accountLevel of accountLevelValues; track $index) {
              <option [value]="accountLevel">{{ 'kotekkaappApp.AccountLevel.' + accountLevel | translate }}</option>
            }
          </select>
        </div>

        @let ibanRef = editForm.get('iban')!;
        <div class="mb-3">
          <label class="form-label" for="field_iban" jhiTranslate="kotekkaappApp.wallet.iban">Iban</label>
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
          @if (ibanRef.invalid && (ibanRef.dirty || ibanRef.touched)) {
            <div>
              @if (editForm.get('iban')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '32' }"
                  >This field cannot be longer than 32 characters.</small
                >
              }
            </div>
          }
        </div>

        @let currencyRef = editForm.get('currency')!;
        <div class="mb-3">
          <label class="form-label" for="field_currency" jhiTranslate="kotekkaappApp.wallet.currency">Currency</label>
          <input type="text" class="form-control" name="currency" id="field_currency" data-cy="currency" formControlName="currency" />
          @if (currencyRef.invalid && (currencyRef.dirty || currencyRef.touched)) {
            <div>
              @if (editForm.get('currency')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '3' }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_balance" jhiTranslate="kotekkaappApp.wallet.balance">Balance</label>
          <input type="number" class="form-control" name="balance" id="field_balance" data-cy="balance" formControlName="balance" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_balancesAsOf" jhiTranslate="kotekkaappApp.wallet.balancesAsOf">Balances As Of</label>
          <div class="d-flex">
            <input
              id="field_balancesAsOf"
              data-cy="balancesAsOf"
              type="datetime-local"
              class="form-control"
              name="balancesAsOf"
              formControlName="balancesAsOf"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let externalIdRef = editForm.get('externalId')!;
        <div class="mb-3">
          <label class="form-label" for="field_externalId" jhiTranslate="kotekkaappApp.wallet.externalId">External Id</label>
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
          @if (externalIdRef.invalid && (externalIdRef.dirty || externalIdRef.touched)) {
            <div>
              @if (editForm.get('externalId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '36' }"
                  >This field cannot be longer than 36 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_walletHolder" jhiTranslate="kotekkaappApp.wallet.walletHolder">Wallet Holder</label>
          <input
            type="text"
            class="form-control"
            name="walletHolder"
            id="field_walletHolder"
            data-cy="walletHolder"
            formControlName="walletHolder"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="kotekkaappApp.wallet.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="kotekkaappApp.wallet.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedBy" jhiTranslate="kotekkaappApp.wallet.lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate" jhiTranslate="kotekkaappApp.wallet.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
