<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="kotekkaappApp.image.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="kotekkaappApp.image.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="kotekkaappApp.image.home.createLabel">Create a new Image</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (images?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="kotekkaappApp.image.home.notFound">No Images found</span>
    </div>
  }

  @if (images && images.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="uuid">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.uuid">Uuid</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="file">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.file">File</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="walletHolder">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.walletHolder">Wallet Holder</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="kotekkaappApp.image.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (image of images; track trackId(image)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
              </td>
              <td>{{ image.uuid }}</td>
              <td>{{ image.name }}</td>
              <td>
                @if (image.file) {
                  <a (click)="openFile(image.file, image.fileContentType)">
                    <img [src]="'data:' + image.fileContentType + ';base64,' + image.file" style="max-height: 30px" alt="image" />
                  </a>
                  <span>{{ image.fileContentType }}, {{ byteSize(image.file) }}</span>
                }
              </td>
              <td>{{ image.walletHolder }}</td>
              <td>{{ image.createdBy }}</td>
              <td>{{ image.createdDate | formatMediumDatetime }}</td>
              <td>{{ image.lastModifiedBy }}</td>
              <td>{{ image.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (images && images.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
