<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cart-item-heading" data-cy="CartItemCreateUpdateHeading" jhiTranslate="kotekkaappApp.cartItem.home.createOrEditLabel">
        Create or edit a Cart Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kotekkaappApp.cartItem.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let uuidRef = editForm.get('uuid')!;
        <div class="mb-3">
          <label class="form-label" for="field_uuid" jhiTranslate="kotekkaappApp.cartItem.uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          @if (uuidRef.invalid && (uuidRef.dirty || uuidRef.touched)) {
            <div>
              @if (editForm.get('uuid')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let cartRef = editForm.get('cart')!;
        <div class="mb-3">
          <label class="form-label" for="field_cart" jhiTranslate="kotekkaappApp.cartItem.cart">Cart</label>
          <input type="text" class="form-control" name="cart" id="field_cart" data-cy="cart" formControlName="cart" />
          @if (cartRef.invalid && (cartRef.dirty || cartRef.touched)) {
            <div>
              @if (editForm.get('cart')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let productRef = editForm.get('product')!;
        <div class="mb-3">
          <label class="form-label" for="field_product" jhiTranslate="kotekkaappApp.cartItem.product">Product</label>
          <input type="text" class="form-control" name="product" id="field_product" data-cy="product" formControlName="product" />
          @if (productRef.invalid && (productRef.dirty || productRef.touched)) {
            <div>
              @if (editForm.get('product')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="kotekkaappApp.cartItem.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let priceRef = editForm.get('price')!;
        <div class="mb-3">
          <label class="form-label" for="field_price" jhiTranslate="kotekkaappApp.cartItem.price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          @if (priceRef.invalid && (priceRef.dirty || priceRef.touched)) {
            <div>
              @if (editForm.get('price')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let totalPriceRef = editForm.get('totalPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalPrice" jhiTranslate="kotekkaappApp.cartItem.totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          @if (totalPriceRef.invalid && (totalPriceRef.dirty || totalPriceRef.touched)) {
            <div>
              @if (editForm.get('totalPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
