<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (collection(); as collectionRef) {
      <div>
        <h2 data-cy="collectionDetailsHeading"><span jhiTranslate="kotekkaappApp.collection.detail.title">Collection</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ collectionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.collection.name">Name</span></dt>
          <dd>
            <span>{{ collectionRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.collection.product">Product</span></dt>
          <dd>
            @for (product of collectionRef.products; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/product', product.id, 'view']">{{ product?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/collection', collectionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
