<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (incomingCall(); as incomingCallRef) {
      <div>
        <h2 data-cy="incomingCallDetailsHeading"><span jhiTranslate="kotekkaappApp.incomingCall.detail.title">Incoming Call</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ incomingCallRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.partner">Partner</span></dt>
          <dd>
            <span [jhiTranslate]="'kotekkaappApp.Partner.' + (incomingCallRef.partner ?? 'null')">{{
              { null: '', CIH: 'CIH', CMI: 'CMI', WAFR: 'WAFR', OTHER: 'OTHER' }[incomingCallRef.partner ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.api">Api</span></dt>
          <dd>
            <span>{{ incomingCallRef.api }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.method">Method</span></dt>
          <dd>
            <span [jhiTranslate]="'kotekkaappApp.HttpMethod.' + (incomingCallRef.method ?? 'null')">{{
              { null: '', GET: 'GET', POST: 'POST', PUT: 'PUT', DELETE: 'DELETE', PATCH: 'PATCH' }[incomingCallRef.method ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.requestHeaders">Request Headers</span></dt>
          <dd>
            <span>{{ incomingCallRef.requestHeaders }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.requestBody">Request Body</span></dt>
          <dd>
            <span>{{ incomingCallRef.requestBody }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ incomingCallRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.responseStatusCode">Response Status Code</span></dt>
          <dd>
            <span>{{ incomingCallRef.responseStatusCode }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.incomingCall.responseTime">Response Time</span></dt>
          <dd>
            <span>{{ incomingCallRef.responseTime | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/incoming-call', incomingCallRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
