<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cacheInfo(); as cacheInfoRef) {
      <div>
        <h2 data-cy="cacheInfoDetailsHeading"><span jhiTranslate="kotekkaappApp.cacheInfo.detail.title">Cache Info</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cacheInfoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cacheInfo.walletHolder">Wallet Holder</span></dt>
          <dd>
            <span>{{ cacheInfoRef.walletHolder }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cacheInfo.key">Key</span></dt>
          <dd>
            <span>{{ cacheInfoRef.key }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cacheInfo.value">Value</span></dt>
          <dd>
            <span>{{ cacheInfoRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="kotekkaappApp.cacheInfo.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ cacheInfoRef.createdDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cache-info', cacheInfoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
