<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-wallet-holder-heading"
        data-cy="WalletHolderCreateUpdateHeading"
        jhiTranslate="kotekkaappApp.walletHolder.home.createOrEditLabel"
      >
        Create or edit a Wallet Holder
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="kotekkaappApp.walletHolder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let uuidRef = editForm.get('uuid')!;
        <div class="mb-3">
          <label class="form-label" for="field_uuid" jhiTranslate="kotekkaappApp.walletHolder.uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" />
          @if (uuidRef.invalid && (uuidRef.dirty || uuidRef.touched)) {
            <div>
              @if (editForm.get('uuid')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="kotekkaappApp.walletHolder.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'kotekkaappApp.AccountType.null' | translate }}</option>
            @for (accountType of accountTypeValues; track $index) {
              <option [value]="accountType">{{ 'kotekkaappApp.AccountType.' + accountType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="kotekkaappApp.walletHolder.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'kotekkaappApp.AccountStatus.null' | translate }}</option>
            @for (accountStatus of accountStatusValues; track $index) {
              <option [value]="accountStatus">{{ 'kotekkaappApp.AccountStatus.' + accountStatus | translate }}</option>
            }
          </select>
        </div>

        @let phoneNumberRef = editForm.get('phoneNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_phoneNumber" jhiTranslate="kotekkaappApp.walletHolder.phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
          @if (phoneNumberRef.invalid && (phoneNumberRef.dirty || phoneNumberRef.touched)) {
            <div>
              @if (editForm.get('phoneNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_network" jhiTranslate="kotekkaappApp.walletHolder.network">Network</label>
          <select class="form-control" name="network" formControlName="network" id="field_network" data-cy="network">
            <option [ngValue]="null">{{ 'kotekkaappApp.Network.null' | translate }}</option>
            @for (network of networkValues; track $index) {
              <option [value]="network">{{ 'kotekkaappApp.Network.' + network | translate }}</option>
            }
          </select>
        </div>

        @let tagRef = editForm.get('tag')!;
        <div class="mb-3">
          <label class="form-label" for="field_tag" jhiTranslate="kotekkaappApp.walletHolder.tag">Tag</label>
          <input type="text" class="form-control" name="tag" id="field_tag" data-cy="tag" formControlName="tag" />
          @if (tagRef.invalid && (tagRef.dirty || tagRef.touched)) {
            <div>
              @if (editForm.get('tag')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let firstNameRef = editForm.get('firstName')!;
        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="kotekkaappApp.walletHolder.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          @if (firstNameRef.invalid && (firstNameRef.dirty || firstNameRef.touched)) {
            <div>
              @if (editForm.get('firstName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let lastNameRef = editForm.get('lastName')!;
        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="kotekkaappApp.walletHolder.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          @if (lastNameRef.invalid && (lastNameRef.dirty || lastNameRef.touched)) {
            <div>
              @if (editForm.get('lastName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let addressRef = editForm.get('address')!;
        <div class="mb-3">
          <label class="form-label" for="field_address" jhiTranslate="kotekkaappApp.walletHolder.address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          @if (addressRef.invalid && (addressRef.dirty || addressRef.touched)) {
            <div>
              @if (editForm.get('address')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let cityRef = editForm.get('city')!;
        <div class="mb-3">
          <label class="form-label" for="field_city" jhiTranslate="kotekkaappApp.walletHolder.city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (cityRef.invalid && (cityRef.dirty || cityRef.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let countryRef = editForm.get('country')!;
        <div class="mb-3">
          <label class="form-label" for="field_country" jhiTranslate="kotekkaappApp.walletHolder.country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
          @if (countryRef.invalid && (countryRef.dirty || countryRef.touched)) {
            <div>
              @if (editForm.get('country')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let postalCodeRef = editForm.get('postalCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_postalCode" jhiTranslate="kotekkaappApp.walletHolder.postalCode">Postal Code</label>
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
          @if (postalCodeRef.invalid && (postalCodeRef.dirty || postalCodeRef.touched)) {
            <div>
              @if (editForm.get('postalCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_onboarding" jhiTranslate="kotekkaappApp.walletHolder.onboarding">Onboarding</label>
          <select class="form-control" name="onboarding" formControlName="onboarding" id="field_onboarding" data-cy="onboarding">
            <option [ngValue]="null">{{ 'kotekkaappApp.OnboardingStatus.null' | translate }}</option>
            @for (onboardingStatus of onboardingStatusValues; track $index) {
              <option [value]="onboardingStatus">{{ 'kotekkaappApp.OnboardingStatus.' + onboardingStatus | translate }}</option>
            }
          </select>
        </div>

        @let externalIdRef = editForm.get('externalId')!;
        <div class="mb-3">
          <label class="form-label" for="field_externalId" jhiTranslate="kotekkaappApp.walletHolder.externalId">External Id</label>
          <input
            type="text"
            class="form-control"
            name="externalId"
            id="field_externalId"
            data-cy="externalId"
            formControlName="externalId"
          />
          @if (externalIdRef.invalid && (externalIdRef.dirty || externalIdRef.touched)) {
            <div>
              @if (editForm.get('externalId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '36' }"
                  >This field cannot be longer than 36 characters.</small
                >
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="kotekkaappApp.walletHolder.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: '5' }"
                  >This field is required to be at least 5 characters.</small
                >
              }
              @if (editForm.get('email')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '254' }"
                  >This field cannot be longer than 254 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfBirth" jhiTranslate="kotekkaappApp.walletHolder.dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sex" jhiTranslate="kotekkaappApp.walletHolder.sex">Sex</label>
          <select class="form-control" name="sex" formControlName="sex" id="field_sex" data-cy="sex">
            <option [ngValue]="null">{{ 'kotekkaappApp.Sex.null' | translate }}</option>
            @for (sex of sexValues; track $index) {
              <option [value]="sex">{{ 'kotekkaappApp.Sex.' + sex | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" jhiTranslate="kotekkaappApp.walletHolder.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" jhiTranslate="kotekkaappApp.walletHolder.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedBy" jhiTranslate="kotekkaappApp.walletHolder.lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastModifiedDate" jhiTranslate="kotekkaappApp.walletHolder.lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_loginStatus" jhiTranslate="kotekkaappApp.walletHolder.loginStatus">Login Status</label>
          <select class="form-control" name="loginStatus" formControlName="loginStatus" id="field_loginStatus" data-cy="loginStatus">
            <option [ngValue]="null">{{ 'kotekkaappApp.LoginStatus.null' | translate }}</option>
            @for (loginStatus of loginStatusValues; track $index) {
              <option [value]="loginStatus">{{ 'kotekkaappApp.LoginStatus.' + loginStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="kotekkaappApp.walletHolder.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
